
<form class="form-horizontal" role="form" ng-controller="GestorMedicoCtrl as vm" name="GestorMedicoForm" style="margin:5px;" novalidate>
    <div class="form-group">
        <label for="Ciudadano" class="col-md-4 control-label">Ciudadano</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="Ciudadano" ng-required="true" ng-model="vm.GestorMedico.Ciudadano" typeahead="Ciudadano as Ciudadano.Nombre + ' ' + Ciudadano.Apellido for Ciudadano in vm.Ciudadanos | filter:$viewValue | limitTo:8" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.crearCiudadano()" type="button">Crear</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="doctore" class="col-md-4 control-label">Doctor</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="doctore" ng-required="true" ng-model="vm.GestorMedico.Doctore" typeahead="doctore as doctore.Nombre + ' ' + doctore.Apellido for doctore in vm.Doctores | filter:$viewValue | limitTo:8" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.crearDoctor()" type="button">Crear</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="hospitale" class="col-md-4 control-label">Hospital</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="hospitale" ng-required="true" ng-model="vm.GestorMedico.Hospitale" typeahead="Hospitale as Hospitale.Nombre + ' ' + Hospitale.CiudadID for Hospitale in vm.Hospitales | filter:$viewValue | limitTo:8" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.crearDoctor()" type="button">Crear</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="proceso" class="col-md-4 control-label">Proceso</label>
        <div class="col-md-8">
            <select name="Proceso" required
                    ng-model="vm.GestorMedico.Proceso"
                    ng-options="r.Nombre for r in vm.Procesos" class="form-control"
                    ng-required="true">
                <!--<option value="">-- Seleccione el concepto --</option>-->
                <option value="" ng-hide="vm.GestorMedico.Proceso">Seleccione Proceso</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="Accione" class="col-md-4 control-label">Acción</label>
        <div class="col-md-8">
            <select name="Accione" required
                    ng-model="vm.GestorMedico.Accione"
                    ng-options="r.Nombre for r in vm.Acciones" class="form-control"
                    ng-required="true">

                <option value="" ng-hide="vm.GestorMedico.Accione">Seleccione Acción</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Comentario" class="col-md-4 control-label">Comentario</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="Comentario" ng-required="true" ng-model="vm.GestorMedico.Comentario" class="form-control">
            </div>
        </div>
    </div>


    <button ng-click="vm.guardar()" ng-disabled="GestorMedicoForm.$invalid" class="btn btn-default">
        <span ng-show="vm.GestorMedico.RegistroMedicoID == null">Cargar</span>
        <span ng-show="vm.GestorMedico.RegistroMedicoID != null">
            Editar
        </span>

    </button>
    @*Editar Nro: {{vm.registroM.movimientoID}}*@
    <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
        Nuevo
    </button>
    <div class="panel panel-default" style="margin-top:20px">
        <div class="panel-heading">Aviso</div>
        <div class="panel-body">
            {{vm.MensajeDelProceso}}
        </div>
    </div>
    <pre>
{{vm.Procesos | json}}
</pre>
    <pre>
        {{vm.GestorMedico | json}}
        </pre>
    @*<pre>
            {{vm | json }}
        </pre>*@
</form>



