
@{
    ViewBag.Title = "PaginaAdministrativa";
}

<h2>Pagina Administrativa</h2>


        <div class="btn-group" role="group" aria-label="...">
    @*<ul class="nav nav-pills">*@
            <button type="button" class="btn btn-default">@Html.ActionLink("Crear Ciudadanos", "Create", "Ciudadanoes") </button>
   


    @*</ul>*@
</div>