
<form class="form-horizontal" role="form" ng-controller="GestorJudicialCtrl as vm" name="GestorJudicialForm" style="margin:5px;" novalidate>
    <div class="form-group">
        <label for="Ciudadano" class="col-md-4 control-label">Ciudadano</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="Ciudadano" ng-required="true" ng-model="vm.GestorJudicial.Ciudadano" typeahead="Ciudadano as Ciudadano.Nombre + ' ' + Ciudadano.Apellido for Ciudadano in vm.Ciudadanos | filter:$viewValue | limitTo:8" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.crearCiudadano()" type="button">Crear</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="FuncionariosJudiciale" class="col-md-4 control-label">Func. Judiciales</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="FuncionariosJudiciale" ng-required="true" ng-model="vm.GestorJudicial.FuncionariosJudiciale" typeahead="FuncionariosJudiciale as FuncionariosJudiciale.Nombre + ' ' + FuncionariosJudiciale.Apellido for FuncionariosJudiciale in vm.FuncionariosJudiciales | filter:$viewValue | limitTo:8" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.crearDoctor()" type="button">Crear</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Juzgado" class="col-md-4 control-label">Juzgado</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="Juzgado" ng-required="true" ng-model="vm.GestorJudicial.Juzgado" typeahead="Juzgado as Juzgado.Nombre + ' ' + Juzgado.CiudadID for Juzgado in vm.Juzgados | filter:$viewValue | limitTo:8" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.crearDoctor()" type="button">Crear</button>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="proceso" class="col-md-4 control-label">Proceso</label>
        <div class="col-md-8">
            <select name="ProcesosJudiciale" required
                    ng-model="vm.GestorJudicial.ProcesosJudiciale"
                    ng-options="r.NombreProcJud for r in vm.ProcesosJudiciales" class="form-control"
                    ng-required="true">
                <!--<option value="">-- Seleccione el concepto --</option>-->
                <option value="" ng-hide="vm.GestorJudicial.ProcesosJudiciale">Seleccione Proceso</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="Accione" class="col-md-4 control-label">Acción</label>
        <div class="col-md-8">
            <select name="AccionesJudiciale" required
                    ng-model="vm.GestorJudicial.AccionesJudiciale"
                    ng-options="r.NombreAJ for r in vm.AccionesJudiciales" class="form-control"
                    ng-required="true">

                <option value="" ng-hide="vm.GestorJudicial.AccionesJudiciale">Seleccione Acción</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="Comentario" class="col-md-4 control-label">Comentario</label>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" name="Comentario" ng-required="true" ng-model="vm.GestorJudicial.Comentario" class="form-control">
            </div>
        </div>
    </div>


    <button ng-click="vm.guardar()" ng-disabled="GestorJudicialForm.$invalid" class="btn btn-default">
        <span ng-show="vm.GestorJudicial.RegistroJudicialID == null">Cargar</span>
        <span ng-show="vm.GestorJudicial.RegistroJudicialID != null">
            Editar
        </span>

    </button>
    @*Editar Nro: {{vm.registroM.movimientoID}}*@
    <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
        Nuevo
    </button>
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">Aviso</div>
        <div class="panel-body">
            {{vm.MensajeDelProceso}}
        </div>
    </div>
    <pre>
        {{vm.GestorJudicial | json}}
        </pre>
    @*<pre>
            {{vm | json }}
        </pre>*@
</form>



