<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="SNRegistroModel" connectionString="data source=DIEGOMCD;initial catalog=dbregistrosunificados;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="SNRegistroModel" connectionString="metadata=res://*/SNRegistroModel.csdl|res://*/SNRegistroModel.ssdl|res://*/SNRegistroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIEGOMCD;initial catalog=dbregistrosunificados;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbregistrosunificadosEntities" connectionString="metadata=res://*/SNRegistroModel.csdl|res://*/SNRegistroModel.ssdl|res://*/SNRegistroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIEGOMCD;initial catalog=dbregistrosunificados;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SNRegistroEntities" connectionString="metadata=res://*/SNRegistroDB.csdl|res://*/SNRegistroDB.ssdl|res://*/SNRegistroDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIEGOMCD;initial catalog=dbregistrosunificados;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>